<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Profile</h1>
		<hr>
		<h2>My Orders</h2>
		{{# each orders}}
		<div class="panel panel-default order-card">
			<div class="panel-body">
				<ul class="list">
					{{# each this.items}}
					<li class="list-item"> 
						<img src="/{{ this.item.imagePath }}" class="img-responsive" style="width: 70px; height: 120px;">
						{{!-- <span>{{ this.item.imagePath }} Pcs</span> --}}
						<span style="font-weight: bold; text-transform:uppercase">{{ this.item.title }}</span>
						<span>{{ this.qty }} Pcs</span>
						<span>Rs {{ this.item.price }}/-</span>
						{{!-- <strong>Total Price: Rs{{ this.cart.totalPrice }}</strong> --}}
						{{!-- {{ this.item.title }} | {{ this.qty }}  --}}
						{{!-- <span class="badge">{{ this.price }}</span> --}}
					</li>
					{{/each}}
				</ul>
			</div>
			<div class="order-footer">
				<strong>Total Price: Rs {{ this.cart.totalPrice }}</strong>
			</div>
		</div>
		{{/each}}
	</div>
</div>